* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    color: #333;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
}
.section-hero {
    background-color: #fdf2e9;
    padding: 9.6rem 0;
}
.hero-img {
    width: 100%;
}
.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    margin-bottom: 3.2rem;
}
.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}
.heading-primary {
    letter-spacing: -0.5px;
}
.btn:link, .btn:visited {
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    display: inline-block;
    border-radius: 9px;
    text-decoration: none;
}
.btn--full:link, .btn--full:visited {
    background-color: #e67e22;
    color: #fff;
}
.btn--full:hover, .btn--full:active {
    background-color: #cf711f;
    color: #fff;
}
.btn--outline:link, .btn--outline:visited {
    background-color: #fff;
    color: #555;
}
.btn--outline:hover, .btn--outline:active {
    background-color: #fdf2e9;
    color: #555;
}