h1, 
h2, 
p, 
h3, 
li {
    font-family: sans-serif;
}

h1 {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
} 

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

h3 {
    font-size: 13px;
    text-transform: uppercase;
}

li {
    font-size: 20px;
    line-height: 1.5;
}

footer p {
   font-style: italic; 
}

article header p {
    color: red;
}